.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.heading {
  font-size: 23px;
  font-weight: 700;
}

.bu {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.inputs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 8px;
  margin-bottom: 10px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  margin-top: 20px;
}

.results img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-top: 10px;
}

.results div {
  width: 70px;
  text-align: center;
  margin: 5px;
  font-size: 10px;
}
